<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-2 col-sm-1 text-xs-center order-sm-2">
{% if site.twitter %}<ul class="list-inline mb-0">  
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Twitter" data-original-title="Twitter">
    <a class="text-white" target="_blank" href="https://twitter.com/{{ site.twitter }}">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
</ul>{% endif %}</div>
      <div class="col-2 col-sm-1 text-xs-center order-sm-2">
{% if site.slack %}<ul class="list-inline mb-0">  
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Slack" data-original-title="Slack">
    <a class="text-white" target="_blank" href="https://101101workspace.slack.com/archives/{{ site.slack }}">
      <i class="fab fa-slack"></i>
    </a>
  </li>
        </ul>{% endif %}</div>
      <div class="col-2 col-sm-1 text-xs-center order-sm-2">
{% if site.skype %}<ul class="list-inline mb-0">  
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Skype" data-original-title="Skype">
    <a class="text-white" target="_blank" href="skype:{{ site.skype }}">
      <i class="fab fa-skype"></i>
    </a>
  </li>
</ul>{% endif %}
</div>
      <div class="col-2 col-sm-1 text-xs-center order-sm-2">
{% if site.discord %}<ul class="list-inline mb-0">  
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Discord" data-original-title="Discord">
    <a class="text-white" target="_blank" href="https://discord.gg/{{ site.discord }}">
      <i class="fab fa-discord"></i>
    </a>
  </li>
</ul>{% endif %}
</div>
<div class="col-2 col-sm-1 text-right text-xs-center order-sm-3">
<ul class="list-inline mb-0">  
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="GitHub" data-original-title="GitHub">
    <a class="text-white" target="_blank" href="{{ site.repo }}">
      <i class="fab fa-github"></i>
    </a>
  </li>
</ul></div>
<div class="col-2 col-sm-1 text-right text-xs-center order-sm-3">
{% if site.dockerhub %}<ul class="list-inline mb-0">  
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Docker" data-original-title="Docker">
    <a class="text-white" target="_blank" href="{{ site.dockerhub }}">
      <i class="fab fa-docker"></i>
    </a>
  </li>
</ul>{% endif %}
</div>
<div class="col-2 col-sm-1 text-right text-xs-center order-sm-3">
{% if site.gitlab %}<ul class="list-inline mb-0">  
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Gitlab" data-original-title="Gitlab">
    <a class="text-white" target="_blank" href="https://gitlab.com/{{ site.gitlab }}">
      <i class="fab fa-gitlab"></i>
    </a>
  </li>
</ul>{% endif %}
</div>
<div class="col-12 col-sm-4 text-center py-2 order-sm-2">
  <small class="text-white">© 2020 {{ site.author }} All Rights Reserved</small>
  {% if site.privacy %}<small class="ml-1"><a href="{{ site.privacy }}" target="_blank">Privacy Policy</a></small>{% endif %}
  <p class="mt-2"><a href="{{ site.baseurl }}">About 101101</a></p>	
      </div>
    </div>
  </div>
</footer>
