

<h5>possible tag cloud here</h5>

{% assign yyy_tags = "" %}
{% assign tctags = "" %}

{% for doc in site.docs %}
  {% assign yyy_tags = doc.tags | join:'|' | append:'|' %}
  {% assign tctags = tctags | append:yyy_tags %}
{% endfor %}

{% for tag in tctags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
{% endfor %}

{% assign sortedtemptags = tctags | split:' ' | sort | reverse %}

{% for tctags in sortedtemptags %}
    {% assign tagitems = tctags | split: '#' %}
    {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
    <a href="{% if site.tag_search_endpoint %}{{ site.tag_search_endpoint }}{{ tag }}{% else %}{{ site.url }}{{ site.baseurl }}/tags#{{ tag }} {% endif %}"><button class="btn btn-info">{{ tagname }}</button></a> &nbsp;
{% endfor %}

