---
title: tag_test
permalink: /tag_test/
---

# tag_test

You've landed on the {{ site.title }} tag_test page... #yay4that

<hr>

{% capture site_tags %}
  {% for tag[noc] in site.tags %}
    {% if tag %}{{ tag | first }}
      {% unless forloop.last %},{% endunless %}
    {% endif %}
  {% endfor %}
{% endcapture %}


{% assign docs_tags = "" %}


{% for doc in site.docs %}
  {% assign ttags = doc.tags[noc] | join:',' | append:',' %}
  {% assign docs_tags = docs_tags | append:ttags %}
{% endfor %}


{% assign all_tags = site_tags | append:docs_tags %}


{% assign tags_list = all_tags | split:',' | uniq | sort %}




{% for tag in tags_list %}
  {% if tag %}
    <h3 id="{{ tag | replace: '/', '-' }}" class="linked-section">{{ tag }}</h3>
    <div class="post-list" style="margin-bottom:40px">
    {% for doc in site.docs %}
      {% if doc.tags contains tag %}
        <div class="tag-entry">
          <a href="{{- site.baseurl -}}{{- doc.url -}}">{{ doc.title }}</a>
          <time style="font-style:italic; float:right" datetime="{{- doc.date | date_to_xmlschema -}}"> {{- doc.date | date: "%B %d, %Y" -}}</time>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
{%- endfor -%}





<hr>

<table>
    <thead>
        <tr>
            <th colspan=2>Contact:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan=3><a href="https://dsmith73.github.io"><img src="https://avatars1.githubusercontent.com/u/44279121?s=60&u=7a933a33b51505f9d6435eeffae1c8156a47dc77&v=4" alt="dsmith73.github.io"></a></td>
            <td><b><a href="https://101101workspace.slack.com/archives/D012ESWSXHQ" alt="dsmith73 on Slack">Slack</a></b></td>
        </tr>
        <tr>
            <td><b><a href="https://discord.gg/RmzVNzx" alt="dsmith73 on Discord">Discord</a></b></td>
        </tr>
        <tr>
            <td><b><a href="skype:dsmith73?chat">Skype</a></b> or <b><a href="https://teams.microsoft.com/l/chat/0/0?users=dsmith73@gmail.com">Teams</b></a></td>
        </tr>
    </tbody>
</table>
