---
title: Test Page
permalink: /test_1/
tags:
  - test
  - page
  - code
  - liquid
---

<hr>

<h3>Tag Tests</h3>




<hr>









<hr>






<h5>possible tag cloud here</h5>

{% assign yyy_tags = "" %}
{% assign tctags = "" %}

{% for doc in site.docs %}
  {% assign yyy_tags = doc.tags | join:'|' | append:'|' %}
  {% assign tctags = tctags | append:yyy_tags %}
{% endfor %}

{% for tag in tctags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
{% endfor %}

{% assign sortedtemptags = tctags | split:' ' | sort | reverse %}

{% for temptag in sortedtemptags %}
    {% assign tagitems = tctags | split: '#' %}
    {% capture tagname %}
        {{ tagitems[1] }}
    {% endcapture %}
    <a href="{% if site.tag_search_endpoint %}{{ site.tag_search_endpoint }}{{ tag }}{% else %}{{ site.url }}{{ site.baseurl }}/tags#{{ tag }} {% endif %}"><code class="highligher-rouge">{{ tag }}</code>&nbsp;</a>
{% endfor %}







<hr>






<h5>Show Tags from doc.tags</h5>

{% assign zzz_tags = "" %}
{% assign dtags = "" %}

{% for doc in site.docs %}
  {% assign zzz_tags = doc.tags | join:'|' | append:'|' %}
  {% assign dtags = dtags | append:zzz_tags %}
{% endfor %}

<ul>
  {% assign sorted_tags = dtags | sort %}
  {% for tag in sorted_tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <li>
      <a href="/tags/# {{ t | downcase | replace:' ','-'}}">
        {{t | downcase | replace:' ','-' }}
        <span>({{ posts | size }})</span>
      </a>
    </li>
  {% endfor %}
</ul>






<hr>







<h5>sort tags by num posts</h5>

{% assign qqq_tags = "" %}
{% assign nptags = "" %}

{% for doc in site.docs %}
  {% assign qqq_tags = doc.tags | join:'|' | append:'|' %}
  {% assign nptags = nptags | append:qqq_tags %}
{% endfor %}
<ul>
{% capture tags %}
  {% for tag in nptags %}
    <li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}">
       <a href="/{{ site.tag_page_dir }}/{{ tag[0] | slugify: 'pretty' }}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a>
    </li>
  {% endfor %}
{% endcapture %}
{{ tags | split:'</li>' | sort | join:'</li>' }}
</ul>





<hr>




<h5>tag post count</h5>

{% assign rrr_tags = "" %}
{% assign tpctags = "" %}

{% for doc in site.docs %}
  {% assign rrr_tags = doc.tags | join:'|' | append:'|' %}
  {% assign tpctags = tpctags | append:rrr_tags %}
{% endfor %}

{% capture count_tags %}{% for tag in tpctags %}
  {{ tag | first | downcase }}#{{ tag | first }}
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
{% endcapture %}
{% assign tag_hashes = count_tags | split:',' | sort %}
<ul class="list-group">
{% for hash in tag_hashes %}
  {% assign keyValue = hash | split: '#' %}
  {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
  <li class="list-group-item">
    <a href="/tags/{{ tag_word }}">
      {{ tag_word }}
      <span class="badge pull-right">{{ testtags[tag_word].size }}</span>
    </a>
  </li>
{% endfor %}
</ul>





<hr>





<h5>tag show</h5>

{% for tag in doc.tags %}
  {% assign tag_slug = tag | slugify: "raw" %}
  <a class="tag-link"
    href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
    rel="category tag">
    #{{ tag }}
  </a>
{% endfor %}




<hr>






<h5>another tag cloud</h5>


{% assign ddd_tags = "" %}
{% assign cloudtags = "" %}

{% for doc in site.docs %}
  {% assign ddd_tags = doc.tags | join:'|' | append:'|' %}
  {% assign cloudtags = cloudtags | append:ddd_tags %}
{% endfor %}

<p>
    {% for tag in cloudtags %}
    <!-- Here's a hack to generate a "tag cloud" where the size of
    the word is directly proportional to the number of posts with
    that tag. -->
    <a href="/tags/{{ tag[0] }}/"
    style="font-size: {{ tag[1] | size | times: 2 | plus: 10 }}px">
        {{ tag[0] }} |
    </a>
    {% endfor %}
</p>



<hr>



<a href="https://dsmith73.github.io"><img src="https://avatars1.githubusercontent.com/u/44279121?s=60&u=7a933a33b51505f9d6435eeffae1c8156a47dc77&v=4" alt="dsmith73.github.io"></a>

