---
title: Test Page
permalink: /test_1/
tags:
  - test
  - page
  - code
  - liquid
---

<hr>

<h3>Tag Tests</h3>

{% assign xxx_tags = "" %}
{% assign testtags = "" %}

{% for doc in site.docs %}
  {% assign xxx_tags = doc.tags | join:'|' | append:'|' %}
  {% assign testtags = testtags | append:xxx_tags %}
{% endfor %}


{% assign testtags = testtags | split:'|' | sort %}

{% for tag in testtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}


<hr>

<h5>possible tag cloud here</h5>

{% for tag in testtags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
{% endfor %}

{% assign sortedtemptags = testtags | split:' ' | sort | reverse %}

{% for temptag in sortedtemptags %}
    {% assign tagitems = testtags | split: '#' %}
    {% capture tagname %}
        {{ tagitems[1] }}
    {% endcapture %}
    <a href="{% if site.tag_search_endpoint %}{{ site.tag_search_endpoint }}{{ tag }}{% else %}{{ site.url }}{{ site.baseurl }}/tags#{{ tag }} {% endif %}"><code class="highligher-rouge">{{ tag }}</code>&nbsp;</a>
{% endfor %}


<hr>


<span>[
  {% for tag in testtags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <code class="highligher-rouge">{{ tag_name }}</code>&nbsp;</a>
  {% endfor %}
]</span>


<hr>

<h5>tag cloud here</h5>

{% include tag_cloud.html %}

<hr>

<a href="https://dsmith73.github.io"><img src="https://avatars1.githubusercontent.com/u/44279121?s=60&u=7a933a33b51505f9d6435eeffae1c8156a47dc77&v=4" alt="dsmith73.github.io"></a>

