---
layout: page
---

<h1 style="margin-bottom:0px">{{ page.title }}</h1>
{% if page.badges %}{% for badge in page.badges %}<span class="badge badge-{{ badge.type }}">{{ badge.tag }}</span>{% endfor %}{% endif %}
<span class="post-date" style="font-style: italic;">{{ page.date | date: "%B %d, %Y" }}</span>
{{ content }}


<hr>
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="{% if site.tag_search_endpoint %}{{ site.tag_search_endpoint }}{{ tag }}{% else %}{{ site.url }}{{ site.baseurl }}/tags#{{ tag }} {% endif %}"><code class="highligher-rouge">{{ tag }}</code>&nbsp;</a>
  {% endfor %}
]</span>
